<!DOCTYPE html>
<html>
<head>
    <!--Partials head-->
    {{>head}}
</head>

<body>
    <header>
        <!--Partials header-->
        {{>header}}
    </header>
    <h1>{{title}}</h1>
    <!--Homebutton -->
    <div>
        <a href="/">
        <button class="h1copy" type="submit"> Human App</button>
        </a>
    </div>

    <p>{{errorMessage}}</p>

    <footer>
    <!--Partials footer-->
    {{>footer}}
</footer>
</body>


</html>