<!DOCTYPE html>
<html lang="en">
<head>
    <!--Partials head-->
    {{>head}}
</head>
<body>
    <header>
        <!--Partials header-->
        {{>header}}
    </header>
    <h1>{{title}}</h1>

    <h2>Here are your other matches!</h2>

    <div class="align-text">
        User4
        <button class="align-button" type="submit">More info</button>
        <button  class="button-color" type="submit">Start chat</button>
    </div>
    <div class="align-text">
        User5
        <button class="align-button" type="submit">More info</button>
        <button class="button-color" type="submit">Start chat</button>

    </div>
    <div class="align-text">
        User6
        <button class="align-button" type="submit">More info</button>
        <button  class="button-color" type="submit">Start chat</button>
    </div>

    <footer>
        <!--Partials footer-->
        {{>footer}}
    </footer>

</body>
</html>