<!DOCTYPE html>


<html>

<!--head-->
<head>
    {{>head}}
    

</head>
<!--body-->
<body>
    <header>
        {{>header}}
        
        <!--Navbar / menu-->
    </header>
    <div>
        <h1>{{title}}</h1>
        <p>Dit bedste match er: <a>{{matchname}}</a></p>

        <!--Main content-->
    </div>
    <footer>


        <!--Footer content, scripts-->


        {{>footer}}
    </footer>

</body>
</html>    