<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    {{>head}}
</head>


<!--Coded with love by Mutiullah Samim-->

<body>
    <header>
        <!--Partials header-->
        {{>header}}
    </header>

    <div class="container allign-center">
        <h1 class="text-center">{{title}}</h1>
        <hr>
        <div class="container">
            {{#if messages.error}}
            <p>{{messages.error}}</p>
            {{/if}}
            <form class="form-group" action="/loginpage" method="POST">
                <div class="input-group mb-3">
                    <input type="username" id="username" name="username" class="form-control input_user" value=""
                        placeholder="username" required>
                </div>

                <div class="input-group mb-2">
                    <input type="password" id="password" name="password" class="form-control input_pass"
                        placeholder="password" required>
                </div>


                <button class="btn btn-dark" type="submit" name="button">Login</button>
                <hr>
                <p>No account? <a href="/register" class="ml-2">Sign Up</a></p>
            </form>

        </div>
    </div>

    <div class="d-flex justify-content-center mt-4 login_container"></div>

    <footer>
        <!--Partials footer-->
        {{>footer}}

    </footer>
</body>

</html>