<!DOCTYPE html>
<html lang="en">
<head>
    <!--Partials head-->
    {{>head}}
</head>
<body>
    <header>
        <!--Partials header-->
        {{>header}}
    </header>

    <h1>{{title}}</h1>
    

    
    <footer>
        <!--Partials footer-->
        {{>footer}}
        
    </footer>
</body>
</html>