
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat App</title>
  <script defer src="http://localhost:3000/socket.io/socket.io.js"></script> <!--Script til at få info fra givet sted-->
  <script defer src="script.js"></script> <!--Script til at få info fra givet sted-->
</head>
<body>
  <div id="room-container"> <!--Vores room bliver sendt her til-->
    <% Object.keys(rooms).forEach(room => { %>
      <div><%= room %></div>
      <a href="/<%= room %>">Join</a>
      <% }) %>
    </div>
        <form action="/room" method="POST"> <!--Metode til at lave room-->
          <input name="room" type="text" required> <!--Data til at lave room-->
          <button type="submit">New Room</button>
        </form>
</body>
</html>